.body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: relative;
  text-align: center; /* 居中內容 */
}

.login_container h2 {
  margin-bottom: 20px;
}

.login_title {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.input_group {
  margin-bottom: 15px;
  text-align: justify;
}

.input_group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.input_group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login_button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff; /* 按鈕顏色 */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login_button:hover {
  background-color: #0056b3; /* 按鈕 hover 顏色 */
}
