.orders-dashboard {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* 确保内容区域占满整个屏幕高度 */
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  background-color: #c0bebe;
  padding: 20px;
  color: black !important;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 20px;
}

aside ul li a {
  text-decoration: none;
  color: black !important;
  font-weight: bold;
}

aside ul li a.active {
  color: #d4e9e7;
}

.content h2 {
  color: black; /* 设置 h2 标题文字为黑色 */
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px; /* 设置最小宽度，以防止表格过于压缩 */
}

.ordersTable th, .ordersTable td {
  border-bottom: 1px solid black;
  padding: 8px 23px; /* 调整表格单元格的内距，使其更宽 */
  color: black !important;
  text-align: left;
}

button {
  width: 80px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

button:hover {
  background-color: #333;
}

button:last-child {
  margin-right: 0;
}
