.footer {
  background: #1b1a1a; /* 背景顏色 */
  padding-top: 50px; /* 上方內邊距 */
  color: #fff; /* 文字顏色 */
  width: 100%;
}

/* 主要容器樣式 */
.container {
  padding-top: 20px;
  width: 100%;
  max-width: 1140px;
  margin: auto; /* 自動外邊距，居中對齊 */
  display: flex; /* 使用 Flexbox 佈局 */
  justify-content: center; /* 垂直置中 */
}

/* 每個內容區塊樣式 */
.footerContent {
  width: 33.3%; /* 每個區塊寬度 */
}

/* 標題樣式 */
h3 {
  font-size: 28px; /* 字體大小 */
  margin-bottom: 15px; /* 下邊距 */
  text-align: center; /* 文字置中 */
}

/* 每個內容區塊的文字樣式 */
.footerContent p {
  text-align: center;
  width: 100%; /* 文字區域寬度 */
  margin: 0; /* 自動外邊距，居中對齊 */
  padding: 7px; /* 內邊距 */
}

/* 列表樣式 */
.footerContent ul {
  text-align: center; /* 文字置中 */
  padding: 0; /* 去除內邊距 */
  list-style: none; /* 去除列表樣式 */
}

.lista {
  text-decoration: none;
}

/* 列表項目樣式 */
.list li {
  width: auto; /* 自動寬度 */
  text-align: center; /* 文字置中 */
  padding: 7px; /* 內邊距 */
  position: relative; /* 相對定位 */
}

/* 列表項目底部線條樣式 */
.list li::before {
  content: ""; /* 空內容 */
  position: absolute; /* 絕對定位 */
  transform: translate(-50%, -50%); /* 變換位置 */
  left: 50%; /* 左邊距 50% */
  top: 100%; /* 上邊距 100% */
  width: 0; /* 初始寬度為 0 */
  height: 2px; /* 高度 */
  background: #009688; /* 顏色 */
  transition-duration: 0.5s; /* 變化過渡時間 */
}

/* 滑鼠懸停時底部線條擴展 */
.list li:hover::before {
  width: 70px; /* 滑鼠懸停時寬度 */
}

/* 社交圖標容器樣式 */
.socialIcons {
  text-align: center; /* 文字置中 */
  padding: 0; /* 去除內邊距 */
}

/* 社交圖標項目樣式 */
.socialIcons li {
  display: inline-block; /* 內聯塊顯示 */
  text-align: center; /* 文字置中 */
  padding: 5px; /* 內邊距 */
}

/* 社交圖標樣式 */
.socialIcons i {
  color: #fff; /* 顏色 */
  font-size: 25px; /* 字體大小 */
}

/* 連結樣式 */
.faba {
  text-decoration: none; /* 去除下劃線 */
  color: #fff; /* 顏色 */
}

/* 連結懸停樣式 */
.faba:hover {
  color: #009688; /* 懸停時顏色 */
}

/* 社交圖標懸停樣式 */
.socialIcons i:hover {
  color: #009688; /* 懸停時顏色 */
}

/* 底部條樣式 */
.bottomBar {
  background: gray; /* 背景顏色 */
  text-align: center; /* 文字置中 */
  padding: 10px 0; /* 上下內邊距 */
  margin-top: 50px; /* 上邊距 */
}

/* 底部條文字樣式 */
.bottomBar p {
  color: black; /* 文字顏色 */
  margin: 0; /* 去除外邊距 */
  font-size: 16px; /* 字體大小 */
  padding: 7px; /* 內邊距 */
}
