.header {
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url(../assets/background.jpg);
    background-size: cover;
    background-position: center center;
}
/*
.navbar {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.logo {
    width: 85px;
    cursor: pointer;
    position: absolute;
    padding: 10px 0 0 40px;
}

.navbar ul {
    list-style: none;
    display: inline-block;
    margin: 50px 20px;
    position: relative;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after {
    width: 100%;
}
*/
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.bt {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btsp {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.bta{
    text-decoration: none;
    color:white;
}

.bt:hover span {
    width: 100%;
}

.bt:hover {
    border: none;
}

.signbt {
    padding: 10px;
    width: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.sisp {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.signbt:hover span {
    width: 100%;
}

.signbt:hover {
    border: none;
}

.menu {
    top: 50%;
    transform: translateY(-50%);
}

.signbtdiv {
    display: flex;
}

.signdiv {
    top: 50%;
    transform: translateY(-20%);
    padding-left: 10px;
}

.signbta {
    text-decoration: none; /* 去除下劃線 */
    color: #fff; /* 顏色 */
}
