/* 全局樣式 */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 彈窗背景 */
.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 彈窗容器 */
.form_container {
    position: relative;
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 標題 */
.centered_form h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: black;
    font-size: 24px;
}

/* 標籤 */
.centered_form label {
    display: block;
    margin: 0.5rem 0 0.2rem;
    color: black;
}

/* 輸入框 */
.centered_form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 按鈕 */
.loginbtn {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.loginbtn button:hover {
    background-color: #0056b3;
}

.closebtn {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 5%;
    top: 5%;
    color: black;
}
