.nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 1rem 1rem;
}

.nav ul li {
    list-style-type: none;
    margin: 0 0.4rem;
}
