*{
    box-sizing: border-box;
}
.section1 {
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0)), url(../assets/section1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.container{
    position: relative;
}
.content {
    position: relative;
    top:30px;
    text-align:left;
    color: #fff;
}

.content h1 {
    font-size: 44px;
    margin-top: 10px;
    padding-left: 10%;
}

.content p {
    font-size: 24px;
    line-height: 10px;
    padding-left: 10%;
    margin-top: 20px;
}

.contentinfo {
    position: relative;
    top:80px;
    right:30px;
    text-align:right;
    color: #fff;
}

.contentinfo p {
    padding-right: 12%;
    font-size: 26px;
    height: 100px;
    text-align: right;
}

.contentinfosp span {
    padding-right: 12%;
    font-size: 36px;
    height: 100px;
}

.sp {
    font-size: 40px;
}
@media screen and (max-width: 992px) {
    .content h1{
        font-size: 40px;
    }
    .contentinfo p {
        font-size: 24px;
    }
}
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 30px;
    }
    .contentinfo p {
        font-size: 24px;
    }
    .contentinfosp span {
        font-size: 24px;
    }
}
@media screen and (max-width: 576px) {
    .content h1 {
        font-size: 28px;
    }
    .contentinfo p {
        font-size: 20px;
    }
    .contentinfosp span {
        font-size: 20px;
    }
}